.profile-header {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    clip-path: circle(50%);
    /* This masks the image in a circle shape */
    object-fit: cover;
    /* Ensures the image covers the area without distortion */
}

.profile-name {
    font-weight: bold;
    font-size: 16px;
}

.profile-details {
    font-size: 14px;
    color: #666;
}

.buttons-container button {
    margin: 5px;
}

.vertical-divider {
    border: 0;
    border-left: 3px solid #007bff;
    /* Blue color border */
    height: 200px;
    /* You can adjust the height */
    margin: 0 20px;
    /* Adds spacing to the sides of the divider */
}